html {
	padding: 0px;
}

body {
	padding: 0px;
}

div#sudev {
	display: grid;
	grid-template-columns: auto 320px;
	padding: 0px;
	margin: 0px;
	/*border: 1px dashed red;*/
}

div#display {
	grid-column: 1;
	grid-row: 1;
	/*border: 1px dashed green;*/
	padding: 10px;
	padding-top: 0px;
}

div#panel {
	grid-column: 2;
	grid-row: 1;
	padding: 4px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px gray;
	/*border: 1px dashed blue;*/
}

a.dataSetBlock {
	display: block;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 5px;
	width: auto;
	cursor: default;
}

a.dataSetBlock:hover, a.dataSetBlock.selected {
	background-color: hsl(0, 0%, 90%);
}
a.dataSetBlock p {
	margin: 4px;
}

div#display svg {
	/*border: 1px solid silver;*/
	width: 100%;
	height: 300px;
}
